<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="../images/q-icon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <style></style>
  </head>
  <body>
    <div class="body">
      <header class="navbar">
        <div class="navbar-start">
          <a href="../index.html" class="navbar-brand">
            <img src="../images/q.png" alt="" class="img-square" />
          </a>
        </div>
        <div class="navbar-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./front-end/home.html">Front-end</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./back-end/home.html">Back-end</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./theme/home.html">Theme</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./software/home.html">Software</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./tips-and-tricks/home.html">Tips and tricks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./joke/home.html">Nghịch</a>
            </li>
          </ul>
        </div>
        <div class="navbar-end">
          <div class="navbar-icon show-search-box">
            <i class="bi bi-search"></i>
          </div>
        </div>
      </header>
      <main>
        <div class="wrapper">
          <h1 class="text-gradient">Công việc. Sở thích. Chia sẻ.</h1>
          <div class="wrapper-flex">
            <div class="wrapper-left">
              <div>
                <img src="../images/Quy.png" alt="" class="shadow" id="avatar" />
              </div>
            </div>
            <div class="wrapper-right">
              <p class="p-b">
                <strong>Xin chào, Tôi là Quý. </strong>Tôi bắt đầu với hành trình lập trình vào tháng 5/2022 tại trường
                <strong>FPT Aptech</strong>.
              </p>
              <p class="p-b">
                Trong thời gian rảnh rỗi tôi thường <strong>nghe nhạc</strong>, nó giúp tôi thư giãn. Khi có cơ hội, tôi
                thường về <strong>quê</strong> để tận hưởng không gian trong lành và gặp gỡ gia đình.
              </p>
              <p class="p-b">
                Trang <strong>Profile</strong> này như là một góc kỷ niệm, thư viện lưu trữ của tôi. Tại đây, những kiến
                thức hấp dẫn trong quá trình học tập và những <strong>project</strong> đã thực hiện đều được ghi lại.
              </p>
            </div>
          </div>
          <h2>- Bruce Lee</h2>
          <p>Tôi không sợ người luyện tập 10.000 cú đá chỉ một lần mà chỉ sợ người thực hành 1 cú đá 10.000 lần.</p>
          <blockquote>
            <p class="p-b">
              I fear not the man who has practiced 10,000 kicks once, but I fear the man who has practiced one kick
              10,000 times.
            </p>
          </blockquote>
          <p class="p-b">
            <button class="btn" id="copy-quote"><i class="bi bi-clipboard"></i> Copy quote</button>
            <span style="margin: 0px 20px 0px 10px">•</span>
            <button class="btn" id="dowload-avatar">
              <i class="bi bi-file-earmark-arrow-down"></i> Download avatar
            </button>
          </p>
          <h2>Kỹ năng</h2>
          <div style="margin-bottom: 40px">
            <h3>HTML, CSS</h3>
            <p style="margin: 0px" class="p-b">
              <a href="https://aptech.fpt.edu.vn/" target="_blank" class="link-decoration">FPT Aptech</a
              ><span> • Nam Từ Liêm, Hà Nội</span>
            </p>
            <p style="margin: 0px" class="p-b">
              <span>Tháng 6 / 2022</span><span> – </span><span>Tháng 12 / 2022</span><span> • </span
              ><span>01 học kỳ</span>
            </p>
            <p style="margin: 0px" class="p-b"><strong>HTML, CSS, Boostrap</strong></p>
          </div>
          <div style="margin-bottom: 40px">
            <h3>Javascript</h3>
            <p style="margin: 0px" class="p-b">
              <a href="https://aptech.fpt.edu.vn/" target="_blank" class="link-decoration">FPT Aptech</a
              ><span> • Nam Từ Liêm, Hà Nội</span>
            </p>
            <p style="margin: 0px" class="p-b">
              <span>Tháng 6 / 2022</span><span> – </span><span>Tháng 12 / 2022</span><span> • </span
              ><span>01 học kỳ</span>
            </p>
            <p style="margin: 0px" class="p-b"><strong>JS thuần, Jquery, Angular JS</strong></p>
          </div>
          <div style="margin-bottom: 40px">
            <h3>Quản lý cơ sở dữ liệu</h3>
            <p style="margin: 0px" class="p-b">
              <a href="https://aptech.fpt.edu.vn/" target="_blank" class="link-decoration">FPT Aptech</a
              ><span> • Nam Từ Liêm, Hà Nội</span>
            </p>
            <p style="margin: 0px" class="p-b">
              <span>Tháng 6 / 2022</span><span> – </span><span>Tháng 12 / 2022</span><span> • </span
              ><span>01 học kỳ</span>
            </p>
            <p style="margin: 0px" class="p-b"><strong>SQL Serve, My SQL</strong></p>
          </div>
          <div style="margin-bottom: 40px">
            <h3>Java</h3>
            <p style="margin: 0px" class="p-b">
              <a href="https://aptech.fpt.edu.vn/" target="_blank" class="link-decoration">FPT Aptech</a
              ><span> • Nam Từ Liêm, Hà Nội</span>
            </p>
            <p style="margin: 0px" class="p-b">
              <span>Tháng 01 / 2023</span><span> – </span><span>Tháng 07 / 2023</span><span> • </span
              ><span>01 học kỳ</span>
            </p>
            <p style="margin: 0px" class="p-b"><strong>Java core, Java nâng cao</strong></p>
          </div>
          <div style="margin-bottom: 40px">
            <h3>C#</h3>
            <p style="margin: 0px" class="p-b">
              <a href="https://aptech.fpt.edu.vn/" target="_blank" class="link-decoration">FPT Aptech</a
              ><span> • Nam Từ Liêm, Hà Nội</span>
            </p>
            <p style="margin: 0px" class="p-b">
              <span>Tháng 01 / 2023</span><span> – </span><span>Tháng 07 / 2023</span><span> • </span
              ><span>01 học kỳ</span>
            </p>
            <p style="margin: 0px" class="p-b"><strong>C# cơ bản</strong></p>
          </div>
          <div style="margin-bottom: 40px">
            <h3>PHP</h3>
            <p style="margin: 0px" class="p-b">
              <a href="https://aptech.fpt.edu.vn/" target="_blank" class="link-decoration">FPT Aptech</a
              ><span> • Nam Từ Liêm, Hà Nội</span>
            </p>
            <p style="margin: 0px" class="p-b">
              <span>Tháng 01 / 2023</span><span> – </span><span>Tháng 07 / 2023</span><span> • </span
              ><span>01 học kỳ</span>
            </p>
            <p style="margin: 0px" class="p-b"><strong>PHP thuần, Laravel</strong></p>
          </div>
          <h2>Sắp tới</h2>
          <div style="margin-bottom: 40px">
            <h3>NodeJS</h3>
            <p style="margin: 0px" class="p-b">
              <a href="https://aptech.fpt.edu.vn/" target="_blank" class="link-decoration">FPT Aptech</a
              ><span> • Nam Từ Liêm, Hà Nội</span>
            </p>
            <p style="margin: 0px" class="p-b">
              <span>Tháng 8 / 2023</span><span> – </span><span>Tháng 02 / 2024</span><span> • </span
              ><span>01 học kỳ</span>
            </p>
            <p style="margin: 0px" class="p-b"><strong>NodeJS, ExpressJS</strong></p>
          </div>
          <div style="margin-bottom: 40px">
            <h3>Web Developing using ASP.NET MVC</h3>
            <p style="margin: 0px" class="p-b">
              <a href="https://aptech.fpt.edu.vn/" target="_blank" class="link-decoration">FPT Aptech</a
              ><span> • Nam Từ Liêm, Hà Nội</span>
            </p>
            <p style="margin: 0px" class="p-b">
              <span>Tháng 8 / 2023</span><span> – </span><span>Tháng 02 / 2024</span><span> • </span
              ><span>01 học kỳ</span>
            </p>
            <p style="margin: 0px" class="p-b"><strong>Web Developing using ASP.NET MVC</strong></p>
          </div>
          <div style="margin-bottom: 40px">
            <h3>Developing Microsoft Azure and Web Services</h3>
            <p style="margin: 0px" class="p-b">
              <a href="https://aptech.fpt.edu.vn/" target="_blank" class="link-decoration">FPT Aptech</a
              ><span> • Nam Từ Liêm, Hà Nội</span>
            </p>
            <p style="margin: 0px" class="p-b">
              <span>Tháng 8 / 2023</span><span> – </span><span>Tháng 02 / 2024</span><span> • </span
              ><span>01 học kỳ</span>
            </p>
            <p style="margin: 0px" class="p-b"><strong>Developing Microsoft Azure and Web Services</strong></p>
          </div>
        </div>
      </main>
      <footer>
        <ul class="footer-nav">
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="mailto: q5nguyenn@gmail.com" target="_blank"
              >Email <i class="bi bi-envelope"></i
            ></a>
          </li>
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="https://github.com/q5nguyenn" target="_blank"
              >Github <i class="bi bi-github"></i
            ></a>
          </li>
          <li class="footer-item">
            <a
              class="footer-link"
              aria-current="page"
              href="https://www.youtube.com/channel/UCukvu0KDOp2MY4kORfRuy5Q"
              target="_blank"
              >Youtube <i class="bi bi-youtube"></i
            ></a>
          </li>
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="https://www.instagram.com/" target="_blank"
              >Instagram <i class="bi bi-instagram"></i
            ></a>
          </li>
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="https://www.facebook.com/q5nguyen/" target="_blank"
              >Facebook <i class="bi bi-facebook"></i
            ></a>
          </li>
        </ul>
      </footer>
      <div class="search-box" style="display: none">
        <div class="search-body">
          <div class="search-form">
            <form action="">
              <input
                type="text"
                class="search-input"
                placeholder="Type a command or search..."
                id="search-key"
                autocomplete="off"
              />
            </form>
          </div>
          <div class="search-list-general">
            <div class="uppercase-small" style="padding: 8px 16px">General</div>
            <div class="search-result"></div>
          </div>
          <div class="search-list-goto">
            <div class="uppercase-small" style="padding: 8px 16px">Go to</div>
            <div class="search-result"></div>
          </div>
        </div>
      </div>
      <div class="popup" style="display: none">
        <div class="popup-done-icon"><i class="bi bi-check-circle-fill"></i></div>
        <div>
          <div class="popup-title">Đã copy!</div>
          <div class="popup-content">Bạn có thể dán chúng bất cứ đâu bạn muốn</div>
        </div>
        <div class="popup-btn-close"><i class="bi bi-x-lg"></i></div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="../js/main.js"></script>
    <script src="../js/about.js"></script>
  </body>
</html>
