<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Front-end</title>
    <link rel="icon" type="image/x-icon" href="./images/q-icon.ico" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <div class="body">
      <header class="navbar">
        <div class="navbar-start">
          <a href="../../index.html" class="navbar-brand">
            <img src="../../images/q.png" alt="" class="img-square" />
          </a>
        </div>
        <div class="navbar-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../front-end/home.html">Front-end</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../back-end/home.html">Back-end</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../theme/home.html">Theme</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../software/home.html">Software</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../tips-and-tricks/home.html">Tips and tricks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../joke/home.html">Nghịch</a>
            </li>
          </ul>
        </div>
        <div class="navbar-end">
          <div class="navbar-icon">
            <i class="bi bi-search"></i>
          </div>
        </div>
      </header>
      <main style="padding: 0px">
        <div class="article-intro">
          <h1 class="article-title">Lessons learned from growing a 6,338 people waitlist in 7 weeks</h1>
          <div class="article-thumbnail"></div>
          <time datetime="2023-02-21" class="article-time">Feb 21, 2023</time>
        </div>
        <div class="wrapper" style="padding: 20px 0">
          <p>
            The first question I get from YC batch mates is:
            <em
              ><a href="/why-i-spent-25000-dollars-on-a-domain-or-how-to-pick-a-startup-name" class="link-decoration"
                >"How did you get your domain?"</a
              ></em
            >.
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, magnam praesentium, velit quisquam
            enim odio temporibus voluptate debitis nisi ut ex. Animi reiciendis odit quidem ratione! Earum atque natus
            consequuntur!
          </p>
          <img
            src="https://zenorocha.com/static/img/posts/lessons-learned-from-growing-a-6338-people-waitlist-in-7-weeks-1.jpg"
            alt=""
          />
          <h2>What went well</h2>
          <p>
            <strong>1. Landing page</strong>
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo sequi voluptates labore at tenetur aspernatur,
            voluptate commodi vero aliquid. Excepturi ea voluptatibus corrupti dignissimos provident dicta facere quod
            sequi sunt!
          </p>
          <img
            src="https://zenorocha.com/static/img/posts/lessons-learned-from-growing-a-6338-people-waitlist-in-7-weeks-2.jpg"
            alt=""
          />
          <p>Here's what worked for us:</p>
          <ul>
            <li style="margin-left: 32px">
              <strong>Tip #1 - Show personality</strong> - Adding an animated WebGL object was super important for me.
              Some people might say it's a distraction, but without saying a word, it communicates that we care about
              the technical details. Also, the Rubik's cube is the perfect analogy to what we were doing. It's an old
              thing that people are familiar with, but it's displayed in a new way. The same goes for Resend. We're
              doing something that people are familiar with (sending emails), but we're doing it in a modern way (using
              React).
            </li>
            <li style="margin-left: 32px">
              <strong>Tip #2 - Know your audience</strong> - As a developer, I absolutely love keyboard shortcuts. I
              couldn't live without them, and I'm sure many other developers feel the same way. Even though a landing
              page is not a place to add keyboard shortcuts, it was a great way to show that we care about the same
              things our audience cares about.
            </li>
            <li style="margin-left: 32px">
              <strong>Tip #3 - Focus on the details</strong> - Most landing pages we visit nowadays follow the same
              pattern. They use a predefined template that looks like every other landing page. As you start navigating,
              you might find typos or broken links. I truly believe that the small details make a big difference. If you
              don't communicate that you care about your own website, then why should someone else care?
            </li>
          </ul>
          <h2>Conclusion</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit eveniet ad adipisci iste. Ad ratione
            magnam consectetur impedit, ipsa illo excepturi temporibus minus nobis labore inventore voluptatum dolorum
            velit neque!
          </p>
        </div>
      </main>
      <footer>
        <ul class="footer-nav">
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="#">Email <i class="bi bi-envelope"></i></a>
          </li>
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="#">Github <i class="bi bi-github"></i></a>
          </li>
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="#">Youtube <i class="bi bi-youtube"></i></a>
          </li>
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="#">Instagram <i class="bi bi-instagram"></i></a>
          </li>
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="#">Facebook <i class="bi bi-facebook"></i></a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
