<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Front-end</title>
    <link rel="icon" type="image/x-icon" href="../../images/q-icon.ico" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <div class="body">
      <header class="navbar">
        <div class="navbar-start">
          <a href="../../index.html" class="navbar-brand">
            <img src="../../images/q.png" alt="" class="img-square" />
          </a>
        </div>
        <div class="navbar-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../front-end/home.html">Front-end</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../back-end/home.html">Back-end</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../theme/home.html">Theme</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../software/home.html">Software</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../tips-and-tricks/home.html">Tips and tricks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../joke/home.html">Nghịch</a>
            </li>
          </ul>
        </div>
        <div class="navbar-end">
          <div class="navbar-icon">
            <i class="bi bi-search"></i>
          </div>
        </div>
      </header>
      <main>
        <div class="wrapper">
          <h1 class="c-dcthTY c-dcthTY-ikBqROe-css">Stories. Updates. Guides.</h1>
          <p>
            Here you can find all the <strong>193 articles</strong> I wrote. You can read about web development,
            software engineering, and tech career in both English and Portuguese.
          </p>
          <h2>Featured Articles</h2>
          <div class="wrapper-flex" style="gap: unset">
            <a href="#" class="btn article">
              <img
                src="https://images.pexels.com/photos/360013/pexels-photo-360013.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt=""
              />
              <h3>Lessons learned from growing a 6,338 people waitlist in 7 weeks</h3>
              <p class="p-truncation-2">
                I'm writing this post to document what went well and what went wrong. Hopefully, this will help other
                founders who are launching their own waitlists or looking to find potential users.
              </p>
              <p class="uppercase-small">7 min read</p>
            </a>
            <a href="#" class="btn article">
              <img
                src="https://images.pexels.com/photos/360013/pexels-photo-360013.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt=""
              />
              <h3>Lessons learned from growing a 6,338 people waitlist in 7 weeks</h3>
              <p class="p-truncation-2">
                I'm writing this post to document what went well and what went wrong. Hopefully, this will help other
                founders who are launching their own waitlists or looking to find potential users.
              </p>
              <p class="uppercase-small">7 min read</p>
            </a>
          </div>
          <div style="padding-top: 60px">
            <ul class="tabs">
              <li class="tab-item tab-active">
                <a href="" class="tab-link">HTML</a>
              </li>
              <li class="tab-item">
                <a href="" class="tab-link">CSS</a>
              </li>
              <li class="tab-item">
                <a href="" class="tab-link">Javascript</a>
              </li>
              <li class="tab-item tab-empty">
                <a href="#" class="tab-link">&nbsp;</a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="lists">
              <li class="list-item">
                <a href="#" class="list-link">
                  <div class="list-link-title">Lessons learned from growing a 6,338 people waitlist in 7 weeks</div>
                  <div>Feb 21, 2023</div>
                </a>
              </li>
              <li class="list-item">
                <a href="#" class="list-link">
                  <div class="list-link-title">Lessons learned from growing a 6,338 people waitlist in 7 weeks</div>
                  <div class="list-link-date">Feb 21, 2023</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </main>
      <footer>
        <ul class="footer-nav">
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="mailto: q5nguyenn@gmail.com" target="_blank"
              >Email <i class="bi bi-envelope"></i
            ></a>
          </li>
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="https://github.com/q5nguyenn" target="_blank"
              >Github <i class="bi bi-github"></i
            ></a>
          </li>
          <li class="footer-item">
            <a
              class="footer-link"
              aria-current="page"
              href="https://www.youtube.com/channel/UCukvu0KDOp2MY4kORfRuy5Q"
              target="_blank"
              >Youtube <i class="bi bi-youtube"></i
            ></a>
          </li>
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="https://www.instagram.com/" target="_blank"
              >Instagram <i class="bi bi-instagram"></i
            ></a>
          </li>
          <li class="footer-item">
            <a class="footer-link" aria-current="page" href="https://www.facebook.com/q5nguyen/" target="_blank"
              >Facebook <i class="bi bi-facebook"></i
            ></a>
          </li>
        </ul>
      </footer>
      <div class="search-box" style="display: none">
        <div class="search-body">
          <div class="search-form">
            <form action="">
              <input
                type="text"
                class="search-input"
                placeholder="Type a command or search..."
                id="search-key"
                autocomplete="off"
              />
            </form>
          </div>
          <div class="search-list-general">
            <div class="uppercase-small" style="padding: 8px 16px">General</div>
            <div class="search-result"></div>
          </div>
          <div class="search-list-goto">
            <div class="uppercase-small" style="padding: 8px 16px">Go to</div>
            <div class="search-result"></div>
          </div>
        </div>
      </div>
      <div class="popup" style="display: none">
        <div class="popup-done-icon"><i class="bi bi-check-circle-fill"></i></div>
        <div>
          <div class="popup-title">Đã copy!</div>
          <div class="popup-content">Bạn có thể dán chúng bất cứ đâu bạn muốn</div>
        </div>
        <div class="popup-btn-close"><i class="bi bi-x-lg"></i></div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
